name: Python PR-v

on:
  pull_request:
    types: [synchronize, opened, reopened]
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v4

    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r code/python/requirements.txt
        pip install flake8 bandit

    # Run tests
    - name: Run tests
      run: python -m unittest discover -s code/python -p "test_*.py"

    # Run linters
    - name: Run linters
      run: flake8 code/python

    # Run security checks
    - name: Run security checks
      run: bandit -r code/python

    # Lint Dockerfile
    - name: Lint Dockerfile
      uses: hadolint/hadolint-action@v3.1.0
      with:
        dockerfile: code/python/DockerFile

  docker:
    runs-on: ubuntu-latest
    needs: linting
    steps:
    # Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v4

    # Set up Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Build Docker image
    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: python-app:latest
        file: code/python/DockerFile
        context: .